html {
    color: #a4a8bb;
    background: radial-gradient(circle,rgba(16, 18, 29, 50) 25%, rgba(0, 0, 0, 50) 100%); 
    
    font-family: "DM Sans", sans-serif !important; 
    font-size: medium;   
}


            /* ########## ******* *** LOGIN PAGE *** ******* ##########  */


.sign-in-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}

.h1-data-loader {
    margin: 1.25rem 0.625rem !important;
    color: #a1a8b4;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif !important;
    font-size: 45px !important;  
}

.h2-sign-in {
    margin: 0px 1.875rem 1.875rem 1.875rem;
    color: #1b5f8d;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 0.938rem; 
}

.h3-login-credentials {
    margin: 0.938rem 3.125rem ;
    color: #a1a8b4;
    text-indent: 0.625rem;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 0.938rem;
}

.input-login {
    display: block;
    height: 2.5rem;
    width: 15.313rem;
    margin: 0.625rem auto;
    padding: auto;
    text-indent: 0.625rem;
    background-color: #1821327a;
    color: #a1a8b4;
    border: 0px solid transparent;
    border-radius: 0.625rem;

    font-family: "DM Sans", sans-serif;
    font-size: 0.938rem;
}

::placeholder {
    color: #a1a8b4;
    opacity: .35;
}

.input-login:focus { 
    outline: none !important;
    border: 0px solid #1b5f8d;
    box-shadow: 0 0 8px #237bb6;
    }

.login-button {
    height: 2.5rem;
    width: 8rem;
    margin: 3.125rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.login-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}

a {
    text-decoration: none !important; 
    color: inherit; 
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: inherit;
}

/* ### FLASH MESSAGES GENERAL SETTINGS ### */

.flash-message {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Noto Sans", sans-serif;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}


/* ### SUCCESS FLASH MESSAGES ### */
                    
.flash-message.success {  
    color: #3AB04C;  
}


/* ### WARNING FLASH MESSAGES ### */
.flash-message.warning {   
    color: #FFAE33;
}

/* ### DANGER FLASH MESSAGES ### */

.flash-message.danger {
    color: #EB2C44;   
}