<!doctype html>
<html lang="en">
  <head>
        <!--Links referencing Google Fonts -->
    
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Match Analyzer Login</title>
  </head>


  <body class="sign-in-body">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash-message {{ category }}">{{ message }}</p>
            {% endfor %}

        {% endif %}

    {% endwith %}    

    <h1 id="title" class="h1-data-loader">Match Analyzer</h1>
    <h2 class="h2-sign-in">Sign in to start loading data</h2>

    <form method="post">
      {{ login_form.hidden_tag() }}

      {{ login_form.username.label(class="h3-login-credentials") }}
      {{ login_form.username(class="input-login", placeholder="Enter your username") }}

      {{ login_form.password.label(class="h3-login-credentials") }}
      {{ login_form.password(class="input-login", placeholder="Enter your password") }}

      {% for error in login_form.username.errors %}
        <span class="flash-message">{{ error }}</span>
      {% endfor %}
            
      {% for error in login_form.password.errors %}
        <span class="flash-message">{{ error }}</span>
      {% endfor %}


      {{login_form.submit_user(class="login-button")}}

    </form>
  </body>
</html>